/* ---------------ЗМІННІ__________________ */
:root {
    --text-color: #757575;
    --accent-color: #2196f3;
    --title-color: #212121;
}
body {
    font-family: 'Roboto', sans-serif;
}
/* ----------------HEADER------------------- */

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-first {
    color: var(--title-color);
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}
.header-mail,
.header-tel {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* -------------------------HERO-------------------- */

.hero {
    background-color: #2f303a;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}
.hero-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
}
/* ----------------------------ABOUT------------------- */

.about-item-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.about-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* ----------------------Activity-----------------------*/

.activity-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

/* ----------------------Team--------------------------*/

.team-title-main {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.team-text {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/* ----------------------Footer--------------------------*/
.footer {
    background-color: #2f303a;
}
.logo-second {
    color: #ffffff;
}
.address {
    font-style: normal;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}
.contact-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}
.footer-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* -----------------PORTFOLIO-----------------------------*/
/* --------------------Portfolio-button----------------------- */

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: var(--accent-color)
}

.portfolio-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-color);
    background: #F5F4FA;
}

/* ---------------------Projects---------------------- */

.project-title:hover,
.project-title:focus,
.project-text:hover,
.project-text:focus {
color: var(--accent-color);
}
.projects-link {
    text-decoration: none;
}
.project-title {
 text-decoration: none;
 font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--title-color)
}
.project-text {
    font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--text-color);
}